@font-face {
  font-family: "TTCommons";
  src: url("../recursos/fonts/TTCommons-Bold.ttf");
}
@font-face {
  font-family: "TTCommonsDemi";
  src: url("../recursos/fonts/TTCommons-DemiBold.ttf");
}
@font-face {
  font-family: "TTCommonsRegular";
  src: url("../recursos/fonts/TTCommons-Regular.ttf");
}

/* MENU */
a{
  font-family: "TTCommonsDemi";
  color: white;
  text-decoration: none;
}
a:hover{
  border-bottom: black 2px solid;
  color: #414141;
}
.activo{
  border-bottom: black 2px solid;
  color: #414141;
}
/* MENU */



/* CONTENIDO */

body{
  background-color: #64A0C2;
}
#logo{
  width: 150px;
  margin: 5%;
}
.Hola{
  font-family: "TTCommons";
  padding-top: 20%;
  font-size: 80px;
  color: #ffffff;
}
.Daniel{
  font-family: "TTCommons";
  font-size: 80px;
  color: #414141;
}
.Info{
  font-family: "TTCommons";
  font-size: 30px;
  color: #ADC2D8;
  margin-top: 10%;
}
.infoBlanco{
  color: white;
}
.infoNegro{
  color: #414141;
}
.Perfil{
  width:300px;
  height:300px;
  border-radius:150px;
}
.Img-perfil{
  margin-top: 20%;
}
/* CONTENIDO */



/* contactenos*/ 
.contact{
  font-family: "TTCommons";
  text-align: center;
  color: #ffffff;
}
p.infoIconos{
  font-family: "TTCommonsDemi";
  font-size: 15px;
  color: white;
}
.ayudarte{
  color: #414141 ;
}
.circulo{
  width: 60%;
  height: 980px;
  border-radius: 20px;
  color: white;
  margin-left: 21%;
}
.circulo2{
  width: 60%;
  height: 440px;
  border-radius: 21px;
  text-align: center;
  color: white;
}

.form-contacto{
  background-color: white;
  border-radius: 20px;
  height: 100%px;
}
.TituloForm{
  font-family: "TTCommons";
  font-size: 15px;
  color: #64A0C2;
  margin: 10px;
}
.textoDeForm{
  font-family: "TTCommonsDemi";
  font-size: 15px;
  color: black;
}
.inputForm{
  background-color: #E5E5E5;
  border-radius: 10px;
  border: 0;
  height: 30px;
  width: 100%;
  outline: none;
}
.inputFormAsunto{
  background-color: #E5E5E5;
  border-radius: 10px;
  border: 0;
  height: 100%;
  width: 100%;
  outline: none;
}
.inputForm[type=text]{
  padding: 10px 10px;
  font-family: "TTCommonsDemi";
  color: black;
  font-size: 12px;
}
.inputFormAsunto[type=text]{
  padding: 10px 10px;
  font-family: "TTCommonsDemi";
  color: black;
  font-size: 12px;
}
.btnServicios{
  background-color: #E5E5E5;
  color: white;
  font-family: "TTCommons";
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
}
.btnServicios:hover{
  background-color: white;
  color: #64A0C2;
  font-family: "TTCommons";
  font-size: 20px;
  border-color: #64A0C2;
  border-radius: 5px;
  border-style: solid;
}
.btnServicios:focus{
  outline: none;
}
.btnSolicitar{
  background-color: #64A0C2;
  color: white;
  font-family: "TTCommonsDemi";
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 130px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
    }

  .grid-item1{

    margin-left: auto 10px;
    color:rgb(255, 255, 255) ;
    padding: 10px;
    margin: auto;
     
    }
    .row{
     
      padding: 15px;
    
    }
    .container2{
      color: white;
      padding: 10%;
    }
 /* contactenos*/ 
 
 /* CATTRABAJOS */
 .tituloTrabajos{
   text-align: center;
   font-family: "TTCommonsDemi";
   font-size: 30px;
   color: white;
 }

.imgcard{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  width: 96%;
 }

 .imgcardvertical{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 70%;
  width: 95%;
  float: center;
 }


 .TituloCardTrabajos{
  font-family: "TTCommonsDemi";
  font-size: 35px;
  color: #414141;
 }
 .DescripcionCard{
  font-family: "TTCommonsDemi";
  font-size: 15px;
  color: #414141;
 }
 .butonVerMas{
  font-family: "TTCommonsDemi";
  color: #64A0C2;
   background-color: white;
   border: 0;
   text-decoration: none;
 }
 .butonVerMas:hover{
  font-family: "TTCommonsDemi";
  color: #64A0C2;
  background-color: white;
  border: 0;
  text-decoration: none;
  border-bottom: #64A0C2 2px solid;
 }

  /* CATTRABAJOS */

/* DISENIO WEB */
.textoCard{
  font-family: "TTCommonsDemi";
  font-size: 35px;
  color: #414141;
}
.infoCard{
  font-family: "TTCommonsDemi";
  font-size: 15px;
  color: #414141;
  float: left;
}
.cardImagen{
  height: 10em;

}

.card-deck{
  margin-left: auto;
  margin-right: auto;
}
.diseño{
  margin-right: 46px;
  margin-left: 120px;

}

.block2{

margin-top: 20px;
}

/* DISENIO WEB */
     
      
/*fyers*/  
.medida{
  width: 149px;
  align-items: center;
  margin-left: 35%;
  margin-top: 5px;
}

.clinic{
  width: 1px;
  align-items: center;


}


  

