@font-face {
  font-family: "TTCommons";
  src: url("../recursos/fonts/TTCommons-Bold.ttf");
}
@font-face {
  font-family: "TTCommonsDemi";
  src: url("../recursos/fonts/TTCommons-DemiBold.ttf");
}
@font-face {
  font-family: "TTCommonsRegular";
  src: url("../recursos/fonts/TTCommons-Regular.ttf");
}

/* MENU */
a{
  font-family: "TTCommonsDemi";
  color: white;
  text-decoration: none;
}
a:hover{
  border-bottom: black 2px solid;
  color: #414141;
}

/* MENU */



/* CONTENIDO */

body{
  background-color: #64A0C2;
}
#logo{
  width: 150px;
  margin: 5%;
}
.Hola{
  font-family: "TTCommons";
  padding-top: 20%;
  font-size: 80px;
  color: #ffffff;
}
.Daniel{
  font-family: "TTCommons";
  font-size: 80px;
  color: #414141;
}
.Info{
  font-family: "TTCommons";
  font-size: 30px;
  color: #ADC2D8;
  margin-top: 10%;
}
.infoBlanco{
  color: white;
}
.infoNegro{
  color: #414141;
}
.Perfil{
  width:300px;
  height:300px;
  border-radius:150px;
}
.Img-perfil{
  margin-top: 20%;
}
/* CONTENIDO */
/*slider*/
.jobs{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
   }
  .box{
     width: 350px;
     height: 610px;
     background-color: white;
     border-radius: 10px;
     box-shadow: 2px 10px  12px; 
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     box-sizing: border-box;
     margin: 20px 10px;
}

.model{
  height: 350px;
  max-height: 100%;
  max-width: 100%;
}



/* contactenos*/ 
.contact{
  font-family: "TTCommons";
  padding-top: 90px;
  text-align: center;
  color: #ffffff;
}

.ayudarte{
  color: #414141 ;
}
.circulo{
  width: 60%;
  height: 980px;
  border-radius: 20px;
  color: white;
  margin-left: 21%;
}
.circulo2{
  width: 60%;
  height: 440px;
  border-radius: 21px;
  text-align: center;
  color: white;
}

.form-contacto{
  background-color: white;
  border-radius: 20px;
  height: 100%px;
}
.TituloForm{
  font-family: "TTCommons";
  font-size: 15px;
  color: #64A0C2;
  margin: 10px;
}
.textoDeForm{
  font-family: "TTCommonsDemi";
  font-size: 15px;
  color: black;
}
.inputForm{
  background-color: #E5E5E5;
  border-radius: 10px;
  border: 0;
  height: 30px;
  width: 100%;
  outline: none;
}
.inputFormAsunto{
  background-color: #E5E5E5;
  border-radius: 10px;
  border: 0;
  height: 100%;
  width: 100%;
  outline: none;
}
.inputForm[type=text]{
  padding: 10px 10px;
  font-family: "TTCommonsDemi";
  color: black;
  font-size: 12px;
}
.inputFormAsunto[type=text]{
  padding: 10px 10px;
  font-family: "TTCommonsDemi";
  color: black;
  font-size: 12px;
}
.btnServicios{
  background-color: #E5E5E5;
  color: white;
  font-family: "TTCommons";
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
}
.btnServicios:hover{
  background-color: white;
  color: #64A0C2;
  font-family: "TTCommons";
  font-size: 20px;
  border-color: #64A0C2;
  border-radius: 5px;
  border-style: solid;
}
.btnSolicitar{
  background-color: #64A0C2;
  color: white;
  font-family: "TTCommonsDemi";
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 130px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
    }

  .grid-item1{

    margin-left: auto 10px;
    color:rgb(255, 255, 255) ;
    padding: 10px;
    margin: auto;
     
    }
    .row{
     
      padding: 15px;
    
    }
    .container2{
      color: white;
      padding: 10%;
    }
  
    
     
      
          
    